netem: Certificate generation failure when using IP as target

We have identified a failure case that occurs when we use netem to simulate a client-webserver TLS connection.

What happens?
In some cases, [martian](https://github.com/google/martian), which we use to fabricate server certificates on the fly, throws the following error: ["mitm: SNI not provided, failed to build certificate"](https://github.com/google/martian/blob/0f7e6797a04da412118541344bbe0d65945e24c9/mitm/mitm.go#L200). This means that martian does not have enough information to generate a certificate for the web server that we're impersonating.
 
When does this occur?
This failure happens when the client sends out a TLS Client Hello without SNI. Consequently, there is no SNI extension for the TLS server to read.
Since the host part of a target is usually used as the default SNI, this is only the case when we use a literal IP address as the target. According to RFC 6066 (Section 3), literal IP addresses are not permitted to be used as SNI, so the TLS implementation sends no SNI extension instead (at least we know that [qtls does this](https://github.com/marten-seemann/qtls/blob/9ec27f35079121f582027b96cc363817b67d7666/handshake_client.go#L1045)).
For a real world TLS connection, this is usually not a problem because the TLS server does not generate a new certificate but when using martian to impersonate a server, the above described failure occurs.

What's the consequence?
Currently, we cannot test an IP address target, e.g. https://8.8.8.8/dns-query, using HTTP/2 or HTTP/3 with netem.

How can we fix this?
We can possibly use [TLSForHost](https://github.com/google/martian/blob/v3.3.2/mitm/mitm.go#L211) to provide a fallback SNI in case there is none in the ClientHello. 






Done!